<div ng-app="app" class="container pad-top clearfix">

    <a href="http://192.168.100.7:9090/index.html#/fd" class="link">Fixed Deposit</a>
    <a href="http://192.168.100.7:9090/index.html#/rd" class="link">Recurring Deposit</a>
    <a href="http://192.168.100.7:9090/index.html#/portfolio" class="link">HomeLoan Vs Rent</a>


    <br><br>


    <div class="box">


        <br><br>
        <!--<button class="btn btn-primary" ng-click="result()">CALC</button>-->
        <p>
            Fixed deposit is a financial instrument offered by banks and financial institutions in India. It is considered as one of the most safe investment option which offers high returns with flexible tenure options.

        </p>


        <div>

        </div>


    </div>

    <div class="l-sidebar at_right us_widget_area_bank_fixed_deposit_sidebar box1 form_box">
        <div class="widget widget_recent_entries">
            <h3 class="widgettitle">Related Articles</h3>
            <ul>
                <li>
                    <a href="http://localhost:9090/index.html#/portfolio">Portfolio</a>
                </li>
                <li>
                    <a href="https://www.paisabazaar.com/fixed-deposit/best-fixed-deposit-interest-rates-in-2019-for-indian-citizens/">Best Fixed Deposit Interest Rates in 2019 for Indian Citizens</a>
                </li>
                <li>
                    <a href="https://www.paisabazaar.com/fixed-deposit/nre-fd-rates/">Best NRE FD Rates 2019 : All You Need To Know</a>
                </li>
                <li>
                    <a href="https://www.paisabazaar.com/fixed-deposit/fixed-deposit-rules-and-regulations/">5 Fixed Deposit Rules and Regulations You Must Know</a>
                </li>
                <li>
                    <a href="https://www.paisabazaar.com/fixed-deposit/government-increases-interest-rates-on-post-office-small-savings-schemes-still-cant-beat-these-banks/">Government increases interest rates!</a>
                </li>
            </ul>
        </div>
    </div>


</div>